/* External CSS */

.special-box {
    background-color: darkblue;
    color: white;
}

.special-box blockquote {
    font-style: italic;
}

.container:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}
